#calculator {
    display: flex;
    flex-direction: column;
    outline: thin solid black;
    /* align-items: center; */
    flex: 1 1 auto;
    height: 600px;
    width: 400px;
    
}

.line {
    display: flex;
    outline: thin solid black;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.line div  {
    display: flex;
    outline: thin solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 5px;
}

button {
    align-items: stretch;
    display: flex;
    height: 100%;
    flex: auto;
    font-size: 58px;
    justify-content: center;
    align-items: center;
}

#add {
    flex-basis: 200%;
}

#display {
    justify-content: right;
    align-items: end;
    font-size: 70px;
}

