#calculator {
    display: flex;
    flex-direction: column;
    outline: thin solid black;
    /* align-items: center; */
    flex: 1 1 auto;
    height: 400px;
    width: 400px;
    
}

.line {
    display: flex;
    outline: thin solid black;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.line *  {
    display: flex;
    outline: thin solid black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    font-size: 48pt;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#add {
    flex-basis: 200%;
}

